body {
    background-color: #65b1d7;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode';
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(255, 255, 132);
    text-decoration: none;
    margin-left: 60px;
    margin-right: 60px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(255, 255, 132);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 213);
    border-color: white;
    color: #333;
}

#balance {
    display: flex;
    align-self: flex-start;
    padding-left: 5px;
    text-align: left;
}

h3 {
    text-align: center;
}

#headline1 {
    font-size: 40px;
    margin-bottom: 8px;
}

#headline2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

.manage_form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    background-color: #aedef4;
    margin-bottom: 15px;
}

.form_group {
    margin-bottom: 5px;
}

label {
    display: block;
}

select {
    width: 302px;
    padding: 5px;
}

input[type="text"] {
    width: 96%;
    padding: 5px;
}

button[type="submit"] {
    font-size: 14px;
    background-color: #467b96;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #65b1d7;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 18px;
}

button[type="submit"]:hover {
    background-color: #65b1d7;
    border-color: white;
    color: #333;
}

#dataChange {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
}