body {
    background-color: #65b1d7;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode';
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#headline1 {
    font-size: 40px;
    margin-bottom: 8px;
}

#headline2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

nav ul {
    margin: 0;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(255, 255, 132);
    text-decoration: none;
    margin-left: 60px;
    margin-right: 60px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(255, 255, 132);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 213);
    border-color: white;
    color: #333;
}

h2 {
    text-align: center;
}

#balance {
    display: flex;
    align-self: flex-start;
    padding-left: 5px;
    text-align: left;
}

#balanceUpdate {
    background-color: #aedef4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 75px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
}

#amountInput {
    width: 160px;
    font-size: 18px;
}

#updateButton, #updateTooltipButton {
    font-size: 14px;
    background-color: #467b96;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #65b1d7;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 18px;
}

#updateButton:hover, #updateTooltipButton:hover {
    background-color: #65b1d7;
    border-color: white;
    color: #333;
}

#operationResult {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

#assignLink {
    background-color: #aedef4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 75px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    margin-bottom: 20px;
}

#linkField {
    width: 410px;
    font-size: 14px;
}

#assignTooltip {
    background-color: #aedef4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 75px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    padding-top: 30px;
}

#tooltipField {
    width: 410px;
    font-size: 14px;
}

#uploadForm {
    text-align: center;
    margin-top: 20px;
}

#imageFile {
    margin-top: 5px;
    display: block;
}

#uploadButton, #uploadSecondButton {
    font-size: 14px;
    background-color: #467b96;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #8ab6cc;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 5px;
}

#uploadButton:hover, #uploadSecondButton:hover {
    background-color: #3c97c4;
    border-color: white;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}